@-webkit-keyframes kf_el_SCUcdqsB9v_an_3XeCxcVPR {
    44.44% {
        opacity: 0;
    }

    55.56% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes kf_el_SCUcdqsB9v_an_3XeCxcVPR {
    44.44% {
        opacity: 0;
    }

    55.56% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes kf_el_drjCfDr0vD_an_MC2EkKs6- {
    53.33% {
        opacity: 0;
    }

    64.44% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes kf_el_drjCfDr0vD_an_MC2EkKs6- {
    53.33% {
        opacity: 0;
    }

    64.44% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes kf_el_jc7F0f5QGh_an_y7Cgmr-fx {
    35.56% {
        opacity: 0;
    }

    46.67% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes kf_el_jc7F0f5QGh_an_y7Cgmr-fx {
    35.56% {
        opacity: 0;
    }

    46.67% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes kf_el_DUtR2isJsc_an__kCs_rWni {
    26.67% {
        opacity: 0;
    }

    37.78% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes kf_el_DUtR2isJsc_an__kCs_rWni {
    26.67% {
        opacity: 0;
    }

    37.78% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes kf_el_W_fqHop0iE_an_RuV2JrFH4 {
    17.78% {
        opacity: 0;
    }

    28.89% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes kf_el_W_fqHop0iE_an_RuV2JrFH4 {
    17.78% {
        opacity: 0;
    }

    28.89% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes kf_el_s7I4CmRm7I_an_JhO5DKLJA {
    8.89% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes kf_el_s7I4CmRm7I_an_JhO5DKLJA {
    8.89% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes kf_el_tw0ZGqlHqL_an_TfNnDk8a4 {
    0% {
        opacity: 0;
    }

    11.11% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes kf_el_tw0ZGqlHqL_an_TfNnDk8a4 {
    0% {
        opacity: 0;
    }

    11.11% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#el_OJ9CWVcoW * {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_3wAoXLaQiN {
    fill: #f4c641;
}

#el_pf_RkfVwlE {
    fill: #f4c641;
}

#el_qI0nKWH-N5 {
    fill: #494845;
}

#el_ea3FBjyIMR {
    fill: #494845;
}

#el_JqtS1t10jI {
    fill: #494845;
}

#el_vyhhYexeDE {
    fill: #494845;
}

#el_-EHsGfR5zV {
    fill: #494845;
}

#el_rtu4UszT5C {
    fill: #494845;
}

#el_tw0ZGqlHqL {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    -webkit-animation-name: kf_el_tw0ZGqlHqL_an_TfNnDk8a4;
    animation-name: kf_el_tw0ZGqlHqL_an_TfNnDk8a4;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#el_s7I4CmRm7I {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    -webkit-animation-name: kf_el_s7I4CmRm7I_an_JhO5DKLJA;
    animation-name: kf_el_s7I4CmRm7I_an_JhO5DKLJA;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#el_W_fqHop0iE {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    -webkit-animation-name: kf_el_W_fqHop0iE_an_RuV2JrFH4;
    animation-name: kf_el_W_fqHop0iE_an_RuV2JrFH4;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#el_DUtR2isJsc {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    -webkit-animation-name: kf_el_DUtR2isJsc_an__kCs_rWni;
    animation-name: kf_el_DUtR2isJsc_an__kCs_rWni;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#el_jc7F0f5QGh {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    -webkit-animation-name: kf_el_jc7F0f5QGh_an_y7Cgmr-fx;
    animation-name: kf_el_jc7F0f5QGh_an_y7Cgmr-fx;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#el_drjCfDr0vD {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    -webkit-animation-name: kf_el_drjCfDr0vD_an_MC2EkKs6-;
    animation-name: kf_el_drjCfDr0vD_an_MC2EkKs6-;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#el_SCUcdqsB9v {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    -webkit-animation-name: kf_el_SCUcdqsB9v_an_3XeCxcVPR;
    animation-name: kf_el_SCUcdqsB9v_an_3XeCxcVPR;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}